body {
  display: flex;
  background-color: lightgrey;
  justify-content: center;
}

.container {
  margin: 30px;
  border-style: solid;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-top: auto;
  flex: 1;
}
.buttons {
  display: flex;
  justify-content: center;
  padding: 20px;

  border-style: solid;
}
.dropDown{
  display: flex;
}
.buttons button {
  flex:1;
  height: 30px;
  width: 90px;
}
.buttons label {
 flex: 1;
 margin-left: 20px;
 margin-right: 10px;
}
#filterBy {
  flex: 1;
  height: 25px;
}
.element {
  display: flex;
  max-width: 400px;
  border-style: solid;
  justify-content: center;
}
.element h4 {
  flex: 1;
  text-align: center;
}
.element h3 {
  flex: 1;
  text-align: center;
}

.element p {
  margin: 27px;
  border-style: solid;
  padding: 10px;
}
#elementEx {
  display: flex;
  justify-content: space-around;
  border: solid;
  width: 350px
}


#elementEx .titleHead {
  flex: 1;
  margin-left: 10px;
}

.linkContainer {
  text-align: center;
  flex: 1;
  margin-left: 15px;
  margin-top: 20px;
}

#elementEx p {
  border-style: solid;
  padding: 7px;
  width: 170px;
  margin-top: 8px;
  font-weight: bolder;
}

.form {
  display: flex;
  border-style: solid;
  padding: 10px;
}
.form div {
  padding: 10px;
}

.newBookmark {
  display: flex;
  flex-direction: column;
}
.newBookmark label {
  padding: 5px;
}
.newBookmark input {
  max-width: 200px;
}

.description label {
  vertical-align: top;
}

.expand {
  margin: 20px;
}
.condense {
  margin: auto;
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
