body {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.container {
    max-width: 500px;
    margin: 30px;
    border-style: solid;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-top: auto;
}
.buttons {
    padding: 20px;
    text-align: center;
    border-style: solid;
}
.buttons button {
    margin-right: 70px
}
.buttons label {
    margin-left: 70px;
}
.element {
    display: flex;
    border-style: solid;
    justify-content: center;
    
}
.element h4 {
    flex: 1;
    text-align: center;
}
.element h3 {
    flex: 1;
    text-align: center;
}   

.element p {
    margin: 27px;
    border-style: solid;
    padding: 10px;
}
#elementEx {
    display: flex;
    flex: row;
    justify-content: space-around;
    padding: 20px;
    border: solid;
}

#elementEx .titleHead {
    flex: 1;
}

.linkContainer {
    text-align: center;
    padding: 20px;
    flex: 2;
}

#elementEx p {
    border-style: solid;
    padding: 7px;
}


.form {
    display: flex;
    border-style: solid;
    padding: 10px;
}
.form div {
    padding: 10px;
}

.newBookmark {
    display: flex;
    flex-direction: column;
}
.newBookmark label {
    padding: 5px;
}
.newBookmark input {
    max-width: 200px;
}


.description label {
    vertical-align: top;
}

.expand {
    margin: 20px;
}
.condense {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    width: 24px;
    height: 24px;

}